body {
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
  font-size: 50px;
  width: 1750px;
  color: white;
  -webkit-text-stroke: 1px black;
}
button {
  text-align: center;
  color: black;
  background-color: white;
  width: 100px;
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  margin: 1px;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
}
.main-div {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}
.reset {
  margin-top: 30px;
  margin-left: 57px;
  color: black;
  background-color: rgb(215, 252, 252);
  width: 200px;
  height: 70px;
  font-size: 30px;
}
p {
  margin-left: 820px;
  margin-right: auto;
  text-align: center;
}

.player {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border: px solid black;
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.botplayer {
  text-align: center;
  background-color: black;
  color: white;

  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.wins1 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
.wins2 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
.winners {
  background-color: rgb(190, 222, 243);
  width: 300px;
  margin-right: auto;
  margin-left: 720px;
  box-shadow: 3px 5px 5px 5px grey;
  padding: 10px 0;
  border-radius: 30px;
}

.footerc {
  margin-top: 10px;
  background-color: aquamarine;
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px 3px rgb(44, 42, 42);
}
.list1 {
  list-style: none;
  padding: 1px;
  padding-inline: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.gh:hover {
  color: black;
  background-color: darkgrey;
}
.gh:active {
  color: white;
  background-color: white;
}
.gh {
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: auto;
}
.github {
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-align: justify;
  margin-left: 10px;
}
